<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="Test">
  <parameter name="username" value="csdurke"/>
  <parameter name="password" value="123456789"/>
    <classes>
      <class name="org.task.A"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
